body {
    background: #eee;
    padding: 0;
}

.todo-app {
    font-family: sans-serif;
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 2rem;
    background: #fafafa;
    max-width: 1024px;
    height: calc(100vh - 6rem - 4rem);
    overflow: auto;
    text-align: center;
}

/** add todo **/
.add-todo {
    margin-left: 0.5rem;
}

/** todo list **/
.todo-list {
    display: grid;
    gap: 5px;
    margin-top: 1rem;
    text-align: left;
    list-style: none;
}

/** todo item **/
.todo-item {
    font-family: monospace;
    cursor: pointer;
    line-height: 1.5;
}

.add-todo-row{
    display: flex; 
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}